.qualification__container {
    padding-left: 3rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}

.qualification__item {
    position: relative;
    margin-bottom: var(--mb-2);
    padding-left: 1rem;
}

.qualification__item::before {
    content: '';
    position: absolute;
    left: -15px;
    margin-top: 38px;
    inset-block: 0;
    border: 1px solid rgba(0, 0 , 0 ,0.1);
}

.qualification__icon {
    position: absolute;
    left: -32px;
    top: 0;
    background-color: gainsboro;
    color: var(--text-color);
    padding: 8px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.qualification__date {
    background-color: rgb(240, 239, 239);
    padding: 2px 10px;
    border-radius: 12px;
    margin-left: -2px;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
}

.qualification__subtitle {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-block: 20px 10px;
}

.qualification__subtitle span {
    color: var(--text-color);
    font-size: var(--smaller-font-size);
    position: relative;
    padding-left: 1.5rem;
}

.qualification__subtitle span::before {
    content: '';
    position: absolute;
    left: 7px;
    top: 9px;
    width: 10px;
    height: 2px;
    background-color: var(--text-color);
}

.qualification__description {
    font-size: var(--smaller-font-size);
}

/* Responsive */
@media screen and (max-width: 992px) {
    
  }
  
  @media screen and (max-width: 768px) {
    .qualification__container {
        padding-left: 1.5rem;
    }
  }
  
  @media screen and (max-width: 576px) {
    .qualification__container {
        padding-right: 2.8rem;
        grid-template-columns: repeat(1, 1fr);
    }
    .qualification__icon {
        padding: 6px;
        width: 30px;
        height: 30px;
        line-height: 40px;
        margin-left: 4px;
    }
    
  }
  @media screen and (max-width: 350px) {
    .qualification__container {
        padding-left: 1.4rem;
        grid-template-columns: repeat(1, 1fr);
    }
    .qualification__icon {
        padding: 6px;
        width: 30px;
        height: 30px;
        line-height: 40px;
        margin-left: 4px;
    }
  }